[Desktop Entry]
Encoding=UTF-8
Name=Link to Beyond Sensing - Developing UP Squared based Computer Vision Projects | Intel® Software
Type=Link
URL=https://software.intel.com/en-us/articles/beyond-sensing-developing-up-squared-based-computer-vision-projects-i
Icon=text-html
