[Desktop Entry]
Encoding=UTF-8
Name=Link to Install the Intel® Distribution of OpenVINO™ toolkit for Linux* | Intel® Software
Type=Link
URL=https://software.intel.com/en-us/articles/OpenVINO-Install-Linux
Icon=text-html
