[Desktop Entry]
Encoding=UTF-8
Name=Link to Intel's Deep Learning Inference Engine backend · opencv/opencv Wiki · GitHub
Type=Link
URL=https://github.com/opencv/opencv/wiki/Intel%27s-Deep-Learning-Inference-Engine-backend
Icon=text-html
