[Desktop Entry]
Encoding=UTF-8
Name=Link to OpenCV: How to enable Halide backend for improve efficiency
Type=Link
URL=https://docs.opencv.org/3.4/de/d37/tutorial_dnn_halide.html
Icon=text-html
