[Desktop Entry]
Encoding=UTF-8
Name=Link to OpenCV Python GTK Error - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/18805308/opencv-python-gtk-error
Icon=text-html
