[Desktop Entry]
Encoding=UTF-8
Name=Link to OpenCV: cv::dnn::Net Class Reference
Type=Link
URL=https://docs.opencv.org/3.4/db/d30/classcv_1_1dnn_1_1Net.html#a9dddbefbc7f3defbe3eeb5dc3d3483f4
Icon=text-html
